doctype html

block locals
    - var title = 'My Website';


html(lang="en")
    head
        mete(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{tutle}

    body
        include _menu.pug
        block content
